.about-container {
    background: linear-gradient(-45deg, #ebebaf, #fcdc87, #f5c668, #fca671);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.book {
    width: 350px;
    height: 450px;
}

.cover, back-cover {
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 5px #ffadd6;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 768px) {
    .content h1 {
        font-size: 40px;
    }

    .content h2 {
        font-size: 24px;
    }

    .content p {
        font-size: 16px;
    }
}