.about-container {
    background: linear-gradient(-45deg, #ebebaf, #fcdc87, #f5c668, #fca671);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.book {
    width: 350px;
    height: 450px;
    position: relative;
    transition-duration: 1s;
    perspective: 1500;
}

input {
    display: none;
}

.cover, .back-cover {
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 5px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    position: absolute;
    z-index: 2;
    transform-origin: center left;
    transition: transform 1s;
}

.cover label {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.back-cover {
    position: relative;
    z-index: -1;
}

.page {
    z-index: 1;
    position: absolute;
    background-color: white;
    width: 330px;
    height: 430px;
    border-radius: 0 15px 15px 0;
    margin-top: 10px;
}

#checkbox-cover:checked ~ .book {
    transform: translateX(200px);

}

#checkbox-cover:checked ~ .book .cover {
    transform: rotateY(-180deg);

}

@media (max-width: 768px) {
    .content h1 {
        font-size: 40px;
    }

    .content h2 {
        font-size: 24px;
    }

    .content p {
        font-size: 16px;
    }
}