.about-container {
    background: linear-gradient(-45deg, #ebebaf, #fcdc87, #f5c668, #fca671);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    text-align: center;
    color: rgb(0, 0, 0);
    max-width: 800px;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 16px;
    font-weight: bold;
}

.content h2 {
    font-size: 32px;
    margin-bottom: 32px;
    font-weight: 300;
}

.content p {
    font-size: 19px;
    line-height: 1.6;
    font-weight: 300;
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 40px;
    }

    .content h2 {
        font-size: 24px;
    }

    .content p {
        font-size: 16px;
    }
}