.about-container {
    background: linear-gradient(-45deg, #ebebaf, #fcdc87, #f5c668, #fca671);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.book {
    width: 350px;
    height: 450px;
    position: relative;
    transition-duration: 1.5s;
    perspective: 1500;
}

input {
    display: none;
}

.cover, .back-cover {
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 5px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    position: absolute;
    z-index: 4;
    transform-origin: center left;
    transition: transform 1s;
}

.cover label {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.back-cover {
    position: relative;
    z-index: -1;
}

.page {
    position: absolute;
    background-color: white;
    width: 330px;
    height: 430px;
    border-radius: 0 15px 15px 0;
    margin-top: 10px;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition-duration: 1.5s;
}

.front-page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    padding: 1rem;

}

.back-page {
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 99;

}

.next, .prev {
    position: absolute;
    bottom: 1em;
    cursor: pointer;
}

.next {
    right: 1em;
}

.prev {
    left: 1em;
}


.page img {
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;

}

#page1 {
    z-index: 3;
}

#page2 {
    z-index: 2;
}

#page3 {
    z-index: 1;
}

#checkbox-cover:checked ~ .book {
    transform: translateX(200px);

}

#checkbox-cover:checked ~ .book .cover {
    transition: transfrom 1.5s, z-index 1.5s 1.5s;
    transform: rotateY(-180deg);
    z-index: 1;
}

#checkbox-page1:checked ~ .book #page1 {
    transform: rotateY(-180deg);
    z-index: 2;
}

#checkbox-page2:checked ~ .book #page2 {
    transform: rotateY(-180deg);
    z-index: 3;
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 40px;
    }

    .content h2 {
        font-size: 24px;
    }

    .content p {
        font-size: 16px;
    }
}