.experience-container {
    background-color: #fca671;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.experience-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1000px;
    width: 100%;
}

.experience-card {
    background-color: rgba(245, 220, 110, 0.05);
    border: 2px solid white;
    border-radius: 12px;
    padding: 20px;
    color: white;
    text-align: center;
    transition: transform 0.3s;
}

.experience-card:hover {
    transform: scale(1.05);
}

.experience-card h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.experience-card p {
    margin-bottom: 10px;
    font-size: 18px;
}

.experience-card .tech {
    font-size: 16px;
    color: #42803b;
    margin-bottom: 15px;
}


.github-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    border: 1px solid #42803b;
    border-radius: 8px;
    color: #42803b;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.github-link:hover {
    background: #4b8544;
    color: #070c46;
}