.home-container {
    background: linear-gradient(-45deg, #070c46, #1a1a72, #0f0f2f, #2c2c8a);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;

    }
    100% {
        background-position: 0% 50%;
    }
    
}